<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Titulo del post : <i> {{ post.titulo }}</i> </p>
    <p> Subtitulo: <i> {{ post.subtitulo }} </i> </p>
    <p>  <i> {{ post.cuerpo }} </i> </p>
    <p>  <i> {{ post.autor }} </i> </p>
    <p>  <i> {{ post.fecha }} </i> </p>
    <p>  <i> {{ post.imagen }} </i> </p>


    <p> 
        <a class="btn btn-primary" href="{% url 'List' %}" > Regresar   </a>
    </p>
</body>
</html>