{% extends 'Appblog/inicio.html' %} 



{% block main_content %}
<body>

    <ul>
        {% for post in object_list %} 
            <li> 
                <div class="row">
                    

                    <div class="card mb-4">
                        <img  class="card-title"  height=" 250 " src="{% if post.imagen %} {{ post.imagen.url}} {% endif %} ">       

                        <div class="card-body">
                           
                            <div class="small text-muted"> {{ post.fecha }} </div>
                            <h2 class="card-title h4"> {{ post.titulo }} </h2>
                            <p class="card-text"> {{ post.introduccion }} </p>
                        
                            <a class="btn btn-primary" href= "{% url 'Detail' post.titulo %} "> Ver mas →</a> <a class="btn btn-primary" href= "{% url 'Edit' post.titulo %}"> Editar →</a> <a class="btn btn-primary" href= "{% url 'Delete' post.titulo %}"> Borrar →</a>
                        </div>
                    </div>
                </div>
        {% endfor %}   



                </p>
            </li>
       

                                
                    <!-- Pagination -->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            
                        </ul>
                    </nav>
                </div>  
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Perfil</div>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="text-center ">
                                    {% if request.user.is_authenticated %}
                                    <h1 class="">{{request.user.username}} </h1>

                            <p>
                                        <a href= "{% url 'perfil' %}" > Ir a mi perfil </a>

                                        {% else %} 
                                        <p class="fw-bolder">Aun no iniciaste sesion>
                                        {% endif %}


                    </p>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Accesos directos </div>
                        <div class="card-body">
                            <div class="row">
              
                                        <li><a href="https://seti.afip.gob.ar/padron-puc-constancia-internet/ConsultaConstanciaAction.do">Constancia de inscripcion AFIP</a></li>
                                        <li><a href="https://seti.afip.gob.ar/av/seleccionVencimientos.do">Vencimientos AFIP</a></li>
                                        <li><a href="https://serviciosweb.afip.gob.ar/genericos/calculoInteres/">Calculadora de intereses AFIP</a></li>
                                    </ul>
                                </div>
                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Mensajes </div>
                        <div class="card-body"> Dejanos tu mensaje! Recorda que debes estar registrado </div>
                        {% if request.user.is_authenticated %}
                       

                <p>
                            <a href= "{% url 'mensajes' %}" > Deja tu mensaje! </a>

                            {% else %} 
                            <p class="fw-bolder">Aun no iniciaste sesion>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </ul>
</body>
{% endblock main_content %}

</html>

